@font-face {
  font-family: "iconfont"; /* Project id 2770382 */
  src: url('iconfont.woff2?t=1630063460227') format('woff2'),
       url('iconfont.woff?t=1630063460227') format('woff'),
       url('iconfont.ttf?t=1630063460227') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gifts:before {
  content: "\e613";
}

.icon-fangdaijisuan:before {
  content: "\e605";
}

.icon-huizhang:before {
  content: "\e671";
}

.icon-fapiao:before {
  content: "\e6b8";
}

.icon-quan:before {
  content: "\e614";
}

.icon-yaoqinghaoyou:before {
  content: "\e7d9";
}

.icon-youce:before {
  content: "\e63c";
}

.icon-xiaoxi:before {
  content: "\e621";
}

.icon-huishuaizhuanhuan:before {
  content: "\e675";
}

.icon-caifu:before {
  content: "\e618";
}

.icon-huangguan:before {
  content: "\e701";
}

.icon-zengzikuogu:before {
  content: "\e608";
}

.icon-shezhi:before {
  content: "\e6ab";
}

.icon-04:before {
  content: "\e607";
}

.icon-tubiao:before {
  content: "\e60e";
}

.icon-tubiao1:before {
  content: "\e6d8";
}

.icon-shequ:before {
  content: "\e627";
}

.icon-lingshi:before {
  content: "\e660";
}

.icon-fushi:before {
  content: "\e60b";
}

.icon-jianzhi:before {
  content: "\e61d";
}

.icon-jujia:before {
  content: "\e620";
}

.icon-lvxing:before {
  content: "\e626";
}

.icon-zhufang:before {
  content: "\e63b";
}

.icon-shuiguo:before {
  content: "\e882";
}

.icon-shucai:before {
  content: "\e634";
}

.icon-canyin:before {
  content: "\e606";
}

.icon-chongwumeirong:before {
  content: "\e602";
}

.icon-icon-test:before {
  content: "\e62c";
}

.icon-yundong-:before {
  content: "\ee31";
}

.icon-icon-test1:before {
  content: "\e61e";
}

.icon-zichanguanjia:before {
  content: "\e615";
}

.icon-jiaotong:before {
  content: "\e611";
}

.icon-yanjiu:before {
  content: "\e60f";
}

.icon-shuma:before {
  content: "\e7f0";
}

.icon-changbei:before {
  content: "\e7f2";
}

.icon-pre_icon_licaizhishi:before {
  content: "\e642";
}

.icon-haizi:before {
  content: "\e868";
}

.icon-13:before {
  content: "\e616";
}

.icon-131:before {
  content: "\e61f";
}

.icon-cash-gift:before {
  content: "\e610";
}

.icon-zhangdan:before {
  content: "\e60c";
}

.icon-gongzi:before {
  content: "\e6d6";
}

.icon-licai:before {
  content: "\e6c4";
}

.icon-gouwu:before {
  content: "\e60d";
}

.icon-riyong:before {
  content: "\f0d7";
}

.icon-gouwu1:before {
  content: "\e6cf";
}

.icon-yusuanguanli:before {
  content: "\e64d";
}

.icon-a-ziyuan3:before {
  content: "\e612";
}

